:root {
  --lh-primary-color: #3497a0;
  --lh-danger-color: #ff7887;
  --lh-success-color: #24aa0d;
  --lh-warning-color: #eacb71;
  --lh-info-color: #828282;
  --lh-primary-color_is-plain: #f5feff;
  --lh-danger-color_is-plain: #fdf7f8;
  --lh-success-color_is-plain: #f6fdf4;
  --lh-warning-color_is-plain: #fffcf5;
  --lh-info-color_is-plain: #f4f4f5;
  --lh-large-height: 38px;
  --lh-default-height: 32px;
  --lh-small-height: 26px;
  --lh-button-text-color: #606266;
  --lh-button-font-weight: 500;
  --lh-button-bg-color: #ffffff;
  --lh-border: 1px solid #dcdfe6;
  --lh-button-border-color: #dcdfe6;
  --lh-border-radius-base: 4px;
}

.is-loading {
  opacity: 0.8;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
